@font-face {
    font-family: "Gotham Round Light";
    src: url(../fonts/GothamRoundedLight_21020.ttf) format("truetype");
}

@font-face {
    font-family: "Gotham Round Book";
    src: url(../fonts/GothamRoundedBook_21018.ttf) format("truetype");
}

@font-face {
    font-family: "Gotham Round SemiBold";
    src: url(../fonts/GothamRoundedBold_21016.ttf) format("truetype");
}

/*Global variables*/
:root {
  --brand-light: #77e2e2;
  --brand-primary: #48d1d1;
  --brand-dark: #01bbbf;
  --gray-light: #f5f5f5;
  --gray-medium: #d8d8d8;
  --gray-dark: #bababa;
  --background-light: #fff;
  --background-medium: #f5f5f5;
  --background-dark: #2a2730;
  --text-primary: #001b24;
  --text-medium: #bababa;
  --text-light: #fff;
  --gray-light: #f5f5f5;
  --gray-medium: #d8d8d8;
  --gary-dark: #bababa;
  --success: #5ce06b;
  --error: #d02612;
}

body {
  font-family: "Gotham Round Book", Helvetica, Arial, sans-serif;
}

h1,
.jumbotron h1 {
  font-family: "Gotham Round SemiBold";
  font-size: 26px;
  line-height: 39px;
}

h2,
.jumbotron h2 {
  font-family: "Gotham Round SemiBold";
  font-size: 18px;
  line-height: 27px;
}

h3,
.jumbotron h3 {
  font-family: "Gotham Round Book";
  font-size: 16px;
  line-height: 24px;
}

p,
.jumbotron p {
  font-family: "Gotham Round Book";
  font-size: 12px;
  line-height: 18px;
}

a {
  color: var(--text-primary) !important;
}

footer {
  display: block;
  text-align: center;
  background-color: #2a2730;
  padding: 50px 15px;
  margin: 0px;
}

/*Colors*/
.color-brand-light {
  background-color: var(--brand-light);
}
.color-brand-primary {
  background-color: var(--brand-primary);
}
.color-brand-dark {
  background-color: var(--brand-dark);
}
.color-background-light {
  background-color: var(--background-light);
}
.color-background-medium {
  background-color: var(--background-medium);
}
.color-background-dark {
  background-color: var(--background-dark);
  color: var(--text-light);
}
.color-text-primary {
  color: var(--text-primary);
}
.color-text-medium {
  background-color:
  color: var(--text-medium);
}
.color-text-light {
  background-color: var(--background-dark);
  color: var(--text-light);
}
.color-gray-light {
  background-color: var(--gray-light);
}
.color-gray-medium {
  background-color: var(--gray-medium);
}
.color-gray-dark {
  background-color: var(--gray-dark);
}
.color-success {
  background-color: var(--success);
}
.color-error {
  background-color: var(--error);
}

/*Forms and Buttons*/
.form-group label {
  display: none;
}

.form-control {
  background: var(--gray-light);
  color: var(--text-primary);
  height: 54px;
  border-radius: 0px;
  box-shadow: none;
}

.form-control:focus {
  border-color: var(--gray-medium);
  box-shadow: none;
}

.btn-primary, .btn-secondary {
  color: var(--text-primary);
  font-family: "Gotham Round SemiBold";
  height: 54px;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  transition: background 0.5s ease;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  box-shadow: none;
  text-shadow: none;
  border: none;
  outline: none;
  color: var(--text-primary);
}

.btn-primary {
  background: var(--brand-primary);
  width: 49.5%;
}

.btn-secondary {
  background: transparent;
  border: 3px solid var(--brand-primary);
  width: 49.5%;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: var(--brand-dark);
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background: var(--brand-dark);
  border: 3px solid var(--brand-dark);
}



/*Styleguide Specific Styles*/
.navbar-brand {
  margin-left: 15px !important;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.navbar-brand > img,
  .navbar-brand > p {
    display: inline-block;
    color: var(--text-primary);
}

.navbar-default,
.navbar-nav > li > a {
  color: var(--text-primary);
}

.color-block, .icon-block {
  border-radius: 3px;
  border: 1px solid var(--gray-medium);
  margin: 5px;
  padding: 20px;
}

.jumbotron {
  background-color: var(--gray-light);
}

.navbar,
.navbar text {
  margin-bottom: 0;
}


/*Media Queries*/

@media (min-width: 320px) {
   p,
   .jumbotron p {
     font-size: 14px;
     line-height: 21px;
   }
 }
